<!DOCTYPE html>
<html>
<head>
  <title></title>
  <div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  <a href="/helloworld">Test</a>
</div>
</head>
<body>

</body>
</html>