<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/artistPage">Teja Sangha Voice Acting</a>
  </div>
</body>
</html>