<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include partials/navbar.ejs %>
  </head>
  <body>
    <div id="wrapper">
      <h1 id="artistPageLogo">Teja Sangha</h1>
    </div>
  </body>
</html>
