<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include partials/navbar.ejs %>
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
  </body>
</html>
