<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include partials/navbar.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="picture">
      <img class="picture" src="images/genericStudioPicture.jpg">
    </div>
  </body>
</html>
