<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <%- include partials/navbar.ejs %>
</head>
<body>
    <div class="center">
      <h1 id='logo'>SOUND TRAVEL STUDIO</h1>
    </div>
    <div id="parent">
      <div class="picture">
        <img class="picture" src="images/genericStudioPicture.jpg">
      </div>
    </div>
<p id="mainPageText">Audio Recording Studio based in East Vancouver. Owned and operated by Teja Sangha</p>
</body>
</html>