<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include partials/navbar.ejs %>
</head>
<body>
  <br><br>
    <div id="parent">
      <div class="picture">
        <img class="picture" src="images/genericStudioPicture.jpg">
      </div>
      <div id="narrow">
        <br>
        <h2 id="logo" class="text">Soundtravel Studio</h2>
      </div>
    </div>
<p id="mainPageText">Audio Recording Studio based in East Vancouver. Owned and operated by Teja Sangha</p>
</body>
</html>