<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="topnav">
  <a href="#home">Home</a>
  <a href="/helloworld" >News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
</head>
<body>
  <p>Main Page</p>
</body>
</html>