<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include partials/navbar.ejs %>
</head>
<body>
  <p>Main Page</p>
    <div id="parent">
      <div class="picture">
        <img class="picture" src="images/genericStudioPicture.jpg">
      </div>
      <div id="narrow">
        <h2 class="text">Teja's Recording Studio</h2>
      </div>
    </div>
</body>
</html>